<!--Suscription -->
<div class="subscription-container">
  <div class="subscription-card">
    <h2>Current Subscription</h2>
    <div class="subscription-details" *ngIf="currentPlan">
      <div class="detail-item">
        <i class="fas fa-crown"></i>
        <span>Plan: {{ currentPlan.name }}</span>
      </div>
      <div class="detail-item">
        <i class="fas fa-dollar-sign"></i>
        <span>Price: ${{ currentPlan.price }}/{{ currentPlan.duration }}</span>
      </div>
      <div class="detail-item">
        <i class="fas fa-coins"></i>
        <span>Tokens: {{ currentPlan.tokensPerMonth }} per month</span>
      </div>
      <div class="detail-item">
        <i class="fas fa-search"></i>
        <span>Searches: {{ currentPlan.searchesPerMonth }} per month</span>
      </div>
    </div>
  </div>

<!--  Usage statitics-->
  <div class="usage-card">
    <h2>Usage Statistics</h2>
    <div class="usage-details">
      <div class="usage-item">
        <div class="usage-label">Remaining Tokens</div>
        <div class="usage-value">{{ remainingTokens }}</div>
        <div class="progress-bar">
          <!-- <div class="progress" [style.width.%]="(remainingTokens / currentPlan?.tokensPerMonth) * 100"></div> -->
        </div>
      </div>
      <div class="usage-item">
        <div class="usage-label">Days Left</div>
        <div class="usage-value">{{ remainingDays }}</div>
        <div class="progress-bar">
          <!-- <div class="progress" [style.width.%]="(remainingDays / 30) * 100"></div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="action-buttons">
    <a routerLink="/subscription" mat-button
      ><mat-icon>pencil</mat-icon> View
    </a>
    <button class="update-btn" (click)="updateSubscription()">
      Update Subscription
    </button>
    <button class="unsubscribe-btn" (click)="unsubscribe()">Unsubscribe</button>
  </div>
</div>
