<div class="banner">
  <div class="shopping-image">
    <img src="./assets/images/token.jpg" alt="logo">
  </div>

  <div class="text">
    <h4>
      <span class="tokens"> 12 Tokens Remaining</span>
    </h4>
    <br />
    <p>Current Plan Active: Free<p>
  </div>
</div>

<div class="pricing">
  <div class="plan popular">
    <h2>Free</h2>
    <div class="price">FREE</div>
    <ul class="features">
      <li> First Three Month Only</li>
      <li>20 Tokens</li>
      <li>20 Searches</li>
      <li> Duration 1 month </li>
      <li>No priority support</li>
    </ul>
    <button>Purchase</button>
  </div>
  <div class="plan popular">
    <span>Most Popular</span>
    <h2>Gold</h2>
    <div class="price">$10/month</div>
    <ul class="features">
      <li> Upto 100 Searches</li>
      <li>100 Tokens</li>
      <li>100 Searches</li>
      <li> Duration 3 month </li>
      <li>Email support</li>
    </ul>
    <button>Purchase</button>
  </div>
  <div class="plan popular">
    <h2>Platinum</h2>
    <div class="price">$50/month</div>
    <ul class="features">
      <li>Buy Unlimited Searches</li>
      <li>Unlimited Tokens</li>
      <li>Unlimited Searches</li>
      <li> Duration 5 month </li>
      <li>24/7 support</li>
    </ul>
    <button>Purchase</button>
  </div>
</div>











