<h1>Your Location Requests</h1>
<mat-divider></mat-divider>

<br /><br />

<h2>Remaining Tokens : 12</h2>

<br />
<a class="add-vehicle-btn" routerLink="/locationrequests/new" mat-button><mat-icon>add_circle_outline</mat-icon>Submit a Request</a>
<a class="add-vehicle-btn" routerLink="/locationrequests/search" mat-button style="margin-left: 1rem"><mat-icon>search</mat-icon>Search Vehicle</a>
<a class="add-vehicle-btn" routerLink="/locationrequests/history" mat-button style="margin-left: 1rem"><mat-icon>history</mat-icon>Search History</a>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Complaint Time Column -->
  <ng-container matColumnDef="vehicleNumber">
    <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
  </ng-container>

  <!-- Complaint Date Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Complaint Subject Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand</th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <!-- Complaint Subject Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model</th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <!-- Complaint Subject Column -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef> Color </th>
    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
  </ng-container>

  <!-- Complaint Subject Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Sent Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/locationrequests/view"  mat-button ><mat-icon>arrow_forward_ios</mat-icon> </a>

    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

