<h1>Your Location Requests</h1>
<mat-divider></mat-divider>
<br /><br />

<h2>Remaining Tokens: 12</h2>
<br />

<a class="add-vehicle-btn" routerLink="/locationrequests/new" mat-button>
  <mat-icon>add_circle_outline</mat-icon> Submit a Request
</a>
<a class="add-vehicle-btn" routerLink="/locationrequests/search" mat-button style="margin-left: 1rem">
  <mat-icon>search</mat-icon> Search Vehicle
</a>
<!--<a class="add-vehicle-btn" routerLink="/locationrequests/history" mat-button style="margin-left: 1rem">-->
<!--  <mat-icon>history</mat-icon> Search History-->
<!--</a>-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Vehicle Number Column -->
  <ng-container matColumnDef="vehicleNumber">
    <th mat-header-cell *matHeaderCellDef>Vehicle Number</th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
  </ng-container>

  <!-- Vehicle Brand Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>Brand</th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <!-- Vehicle Model Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>Model</th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <!-- Vehicle Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Vehicle Color Column -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef>Color</th>
    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="fileUploadInput.click()">
        <mat-icon>file_upload</mat-icon>
      </button>
      <input type="file" #fileUploadInput (change)="uploadFiles($event, element.vehicleNumber)" hidden>
      <button  (click)="navigateToSearchHistory(element.vehicleNumber)" class="add-vehicle-btn" mat-stroked-button>View More</button>
    </td>
  </ng-container>

  <!-- Table Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

   Table Data Rows
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
