<h1>Request ID: {{ request?.id }}</h1>
<mat-divider></mat-divider>

<div class="view-request-container">
  <div class="details-header">Request Details</div>
  
  <ul class="request-details">
    <li>
      <span class="label">Vehicle Type:</span>
      <span class="value">{{ request?.type }}</span>
    </li>
    <li>
      <span class="label">Vehicle Color:</span>
      <span class="value">{{ request?.color }}</span>
    </li>
    <li>
      <span class="label">Vehicle Number Plate:</span>
      <span class="value">{{ request?.vehicle_no }}</span>
    </li>
    <li>
      <span class="label">Reason:</span>
      <span class="value">{{ request?.reason }}</span>
    </li>
    <li>
      <span class="label">Status:</span>
      <span class="value">{{ request?.status }}</span>
    </li>
    <li>
      <span class="label">Registered/Unregistered:</span>
      <span class="value">{{ request?.registration }}</span>
    </li>
  </ul>

  <div class="actions">
    <a class="action-btn" routerLink="/map">
      <mat-icon>add_circle_outline</mat-icon>
      Live Track
    </a>
    <a class="action-btn" routerLink="/police-requests/view/history">
      <mat-icon>history</mat-icon>
      Tracking History
    </a>
    <button class="action-btn delete-btn" mat-button>
      <mat-icon>delete</mat-icon>
      Delete Request
    </button>
  </div>
</div>
