<h1>Video Details</h1>
<mat-divider></mat-divider>

<!-- Video Display and Information -->
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <!-- Title and Capture Date -->
    <mat-card-title>{{ video }}</mat-card-title>
    <mat-card-subtitle>{{ captureDate }} - {{ captureTime }}</mat-card-subtitle>
  </mat-card-header>

  <!-- Video Player -->
  <video mat-card-image controls [src]="'https://storage.cloud.google.com/road-eye/video-uploads/' + video + '.mp4'" alt="Video Capture"></video>
<br>
  <br>
  <mat-card-content>
    <p><strong>Vehicle Number:</strong> {{ vehicleNumber }}</p>
    <p><strong>Capture Time:</strong> {{ captureTime }}</p>
    <p><strong>Capture Date:</strong> {{ captureDate }}</p>
  </mat-card-content>
</mat-card>
