<h1>Police Stations</h1>
<mat-divider></mat-divider>
<br>
<button class="add-vehicle-btn" mat-button (click)="addStation()">Add Station</button>

<div class="card-container">
  <div class="card">
    <div class="card-title">
      <h2>Colombo District | Kolpitty Branch </h2>
      <div class="verified">Verified</div>
    </div>


    <h3>0111234567</h3>
    <h3>WR7X+JJV, Galle Rd, Colombo 00300</h3>
    <button mat-button>
      <mat-icon>pin_drop</mat-icon>
      View on Map
    </button>
  </div>
  <div class="card">
    <div class="card-title">
      <h2>Colombo District | Dehiwala Branch </h2>
      <div class="notverified">Not Verified</div>
    </div>
    <h3>0111234789</h3>
    <h3>Hill St, Dehiwala-Mount Lavinia</h3>
    <button mat-button>
      <mat-icon>pin_drop</mat-icon>
      View on Map
    </button>
</div>
