<h1>Post ID: P001</h1>
<mat-divider></mat-divider>
<br>
<div>
  <div class="video-container">
    <video id="video-player" class="video-js vjs-default-skin" controls preload="auto" width="auto" height="480">
      <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4" type="video/mp4">
    </video>
  </div>

<div class="container">
  <div class="main-content">

    <div class="row1">

      <div class="col1">

        <mat-list>
          <mat-list-item>
            <span matListItemTitle>11/8/2024</span>
            <span matListItemLine>Post Date</span>

          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>12:24 pm</span>
            <span matListItemLine>Post Time</span>
          </mat-list-item>


          <mat-divider></mat-divider>

          <mat-list-item>
            <span matListItemTitle>This is a traffic violation seen at Pettah Colombo</span>
            <span matListItemLine>Post Description</span>
          </mat-list-item>

          <mat-divider></mat-divider>


          <mat-list-item>
            <span matListItemTitle>Subject of Complaint</span>
            <span matListItemLine>Subject of Complaint</span>
          </mat-list-item>

          <mat-divider></mat-divider>


        </mat-list>

      </div>
      <div class="col2">

        <mat-list>

          <mat-list-item>
            <span matListItemTitle>Jayath Perera</span>
            <span matListItemLine>Name</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>200198273087</span>
            <span matListItemLine>NIC</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>No 6, Flower road , Colombo 7</span>
            <span matListItemLine>Address</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Jayath.perera@gmail.com</span>
            <span matListItemLine>Email</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>0711234567</span>
            <span matListItemLine>Phone Number</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

      </div>

    </div>









    <section>

      <div class="button-row">

        <button class="remove-btn" mat-stroked-button> Cancel</button>

      </div>
    </section>



  </div>
  <div class="container-side">

  </div>

</div>


<div class="container">




</div>





