
<h1>New Post</h1>

<mat-divider></mat-divider>
<br><br>


<form class="complain-form" [formGroup]="form" (ngSubmit)="submit()">


  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput  formControlName="title" required>
      </mat-form-field>
    </p>

  </div>

  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Small Description (100-200 words)</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

  </div>

  <div class="row">

    <button mat-button class="add-vehicle-btn">
      Add Caption
    </button>

  </div>

  <div class="row">

    <button mat-button class="add-vehicle-btn">
      Add File
    </button>

  </div>

  <button mat-raised-button class="btn-submit">Submit</button>


</form>


