<h1 class="title">Current Leaderboard</h1>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Most Liked">
    <div class="leaderboard-wrapper">
      <div class="ribbon"></div>
      <table>
        <tr *ngFor="let post of mostLikedPosts; let i = index">
          <td class="number">{{ i + 1 }}</td>
          <td class="name">{{ post.first_name }} {{ post.last_name }}</td>
          <td class="points">
            {{ post.likes }}
            <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal" />
          </td>
        </tr>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Most Viewed">
    <div class="leaderboard-wrapper">
      <div class="ribbon"></div>
      <table>
        <tr *ngFor="let post of mostViewedPosts; let i = index">
          <td class="number">{{ i + 1 }}</td>
          <td class="name">{{ post.first_name }} {{ post.last_name }}</td>
          <td class="points">
            {{ post.views }}
            <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal" />
          </td>
        </tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
