<h1 class="title">Current Leaderboard</h1>

<br />
<br />

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Most Liked">

    <main>


<div class="profile">

  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="row">
        <div class="col">
Rank <br/>
   1
        </div>
        <div class="end">
          Score<br />
          45

        </div>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title  style=" margin-left: 80px">John Doe</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/images/avatar.svg" alt="Photo of a Shiba Inu" style="width: 200px; margin-left: 100px">

  </mat-card>

</div>
          <div id="leaderboard">
            <div class="ribbon"></div>
            <table>
              <tr>
                <td class="number">1</td>
                <td class="name">John Doe</td>
                <td class="points">
                  45 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
                </td>
              </tr>
              <tr>
                <td class="number">2</td>
                <td class="name">John Smith</td>
                <td class="points">20</td>
              </tr>
              <tr>
                <td class="number">3</td>
                <td class="name">John Smith</td>
                <td class="points">20</td>
              </tr>
              <tr>
                <td class="number">4</td>
                <td class="name">John Smith</td>
                <td class="points">20</td>
              </tr>
              <tr>
                <td class="number">5</td>
                <td class="name">John Smith</td>
                <td class="points">20</td>
              </tr>
            </table>

          </div>
        </main>





  </mat-tab>
  <mat-tab label="Most Liked">
    <main>


      <div class="profile">

        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="row">
              <div class="col">
                Rank <br/>
                1
              </div>
              <div class="end">
                Score<br />
                45

              </div>

            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title  style=" margin-left: 80px">John Doe</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/images/avatar.svg" alt="Photo of a Shiba Inu" style="width: 200px; margin-left: 100px">

        </mat-card>

      </div>
      <div id="leaderboard">
        <div class="ribbon"></div>
        <table>
          <tr>
            <td class="number">1</td>
            <td class="name">John Doe</td>
            <td class="points">
              45 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
            </td>
          </tr>
          <tr>
            <td class="number">2</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
          <tr>
            <td class="number">3</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
          <tr>
            <td class="number">4</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
          <tr>
            <td class="number">5</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
        </table>

      </div>
    </main>



  </mat-tab>
  <mat-tab label="Most Viewed">
    <main>


      <div class="profile">

        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="row">
              <div class="col">
                Rank <br/>
                1
              </div>
              <div class="end">
                Score<br />
                45

              </div>

            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title  style=" margin-left: 80px">John Doe</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/images/avatar.svg" alt="Photo of a Shiba Inu" style="width: 200px; margin-left: 100px">

        </mat-card>

      </div>
      <div id="leaderboard">
        <div class="ribbon"></div>
        <table>
          <tr>
            <td class="number">1</td>
            <td class="name">John Doe</td>
            <td class="points">
              45 <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
            </td>
          </tr>
          <tr>
            <td class="number">2</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
          <tr>
            <td class="number">3</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
          <tr>
            <td class="number">4</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
          <tr>
            <td class="number">5</td>
            <td class="name">John Smith</td>
            <td class="points">20</td>
          </tr>
        </table>

      </div>
    </main>



  </mat-tab>
</mat-tab-group>

