<!-- Page Title -->
<h1>Your Video Captures</h1>
<mat-divider></mat-divider>

<br/><br/>

<!-- Toggle Group for View Mode (Grid/List) -->
<mat-button-toggle-group [(ngModel)]="gridView">
  <mat-button-toggle [value]="true">
    <mat-icon>grid_view</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="false">
    <mat-icon>view_list</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>

<br><br>

<!-- If List View (Table) is Selected -->
<ng-container *ngIf="!gridView">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element"> Video Capture</td>
    </ng-container>

    <!-- Capture Time Column -->
    <ng-container matColumnDef="captureTime">
      <th mat-header-cell *matHeaderCellDef> Capture Time</th>
      <td mat-cell *matCellDef="let element"> {{ element.captureTime }}</td>
    </ng-container>

    <!-- Capture Date Column -->
    <ng-container matColumnDef="captureDate">
      <th mat-header-cell *matHeaderCellDef> Capture Date</th>
      <td mat-cell *matCellDef="let element"> {{ element.captureDate }}</td>
    </ng-container>

    <!-- Vehicle Number Column -->
    <ng-container matColumnDef="vehicleNumber">
      <th mat-header-cell *matHeaderCellDef> Vehicle Number</th>
      <td mat-cell *matCellDef="let element"> {{ element.vehicleNumber }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell *matCellDef="let element">
        <a mat-button [href]="'https://storage.cloud.google.com/road-eye/' + element.video" download="{{ element.video }}.mp4">
          <mat-icon color="primary">download</mat-icon> Download
        </a>
        <button mat-button color="warn">
          <mat-icon>delete</mat-icon> Delete
        </button>
      </td>
    </ng-container>

    <!-- Table Headers & Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>
<!-- If Grid View is Selected -->
<ng-container *ngIf="gridView">
  <div class="card-container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let item of video_capture">
      <mat-card-header>
        <!-- Card Avatar (Could be a Thumbnail of the Video) -->
        <div mat-card-avatar class="example-header-image"></div>
        <!-- Title and Subtitle with Capture Date -->
        <mat-card-title>Video Capture</mat-card-title>
        <mat-card-subtitle>
          {{ item.reg_time.split('T')[0] }} - {{ item.reg_time.split('T')[1] }}
        </mat-card-subtitle>
      </mat-card-header>
      <!-- Sample Image (Replace with Actual Image or Video Preview) -->
      <video mat-card-image controls src="https://storage.cloud.google.com/road-eye/{{item.video}}" alt="Sample Video Capture"></video>
      <br>
      <mat-card-content class="content">
        <!-- Video Vehicle Number Info -->
        <p>
          Vehicle Number - {{ item.vehicle_number }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- Download, Delete, and Share Buttons -->
        <button [routerLink]="['/video/view']" [queryParams]="{
        video: item.video,
        vehicle_number: item.vehicle_number,
        capture_time: item.reg_time.split('T')[1],
        capture_date: item.reg_time.split('T')[0]
        }" mat-raised-button style="background-color: #001f3f; color: white">View</button>
        <button mat-raised-button color="warn" style="margin-left: 5px">
          <mat-icon style="color: white">delete</mat-icon> Delete
        </button>
        <button mat-raised-button style="margin-left: 5px; background-color: #2f73d9">
          <mat-icon>share</mat-icon> Post
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
