<p>popup</p>


<!-- <h1>Request ID: {{ data.request_id }}</h1>
<mat-divider></mat-divider>

<div class="view-request-container">
  <div class="details-header">Request Details</div>

  <ul class="request-details">
    <li>
      <span class="label">Incident Date:</span>
      <span class="value">{{ data.incident_date }}</span>
    </li>
    <li>
      <span class="label">Incident Time:</span>
      <span class="value">{{ data.incident_time }}</span>
    </li>
    <li>
      <span class="label">District:</span>
      <span class="value">{{ data.district }}</span>
    </li>
    <li>
      <span class="label">Location:</span>
      <span class="value">{{ data.location }}</span>
    </li>
    <li>
      <span class="label">Vehicle ID:</span>
      <span class="value">{{ data.vehicle_id }}</span>
    </li>
    <li>
      <span class="label">Vehicle Type:</span>
      <span class="value">{{ data.type }}</span>
    </li>
    <li>
      <span class="label">Vehicle Color:</span>
      <span class="value">{{ data.color }}</span>
    </li>
    <li>
      <span class="label">Reason:</span>
      <span class="value">{{ data.reason }}</span>
    </li>
    <li>
      <span class="label">Registration Status:</span>
      <span class="value">{{ data.registration_status }}</span>
    </li>
  </ul>

  <div class="actions">
    <a class="action-btn" routerLink="/map">
      <mat-icon>map</mat-icon>
      View Map
    </a>
    <a class="action-btn" routerLink="/police-requests/view/history">
      <mat-icon>history</mat-icon>
      Tracking History
    </a>
    <button class="action-btn update-btn" mat-button>
      <mat-icon>edit</mat-icon>
      Update Request
    </button>
    <button class="action-btn delete-btn" mat-button>
      <mat-icon>delete</mat-icon>
      Delete Request
    </button>
  </div>
</div> -->
