<!--dashboard analytics card row-->

<div class="dash-cards">
  <div class="one-card">

    <span class="card-content">
     <p class="card-number">25</p>
      <p>New Complaints</p>
    </span>

    <div class="vertical-line"></div>
    <span class="card-icon">
<mat-icon class="card-icon">car_crash</mat-icon>
    </span>

  </div>

  <div class="one-card">

    <span class="card-content">
     <p class="card-number">14</p>
      <p>Complaints Resolved</p>
    </span>

    <div class="vertical-line"></div>
    <span class="card-icon">
<mat-icon class="card-icon">done</mat-icon>
    </span>

  </div>

  <div class="one-card">

    <span class="card-content">
     <p class="card-number">10</p>
      <p>Inquiries</p>
    </span>

    <div class="vertical-line"></div>
    <span class="card-icon">
<mat-icon class="card-icon">info</mat-icon>
    </span>

  </div>

  <div class="one-card">

    <span class="card-content">
     <p class="card-number">9</p>
      <p>Police Stations</p>
    </span>

    <div class="vertical-line"></div>
    <span class="card-icon">
<mat-icon class="card-icon">other_houses</mat-icon>
    </span>

  </div>

</div>


<br >
<!--dashboard table and calender-->


<mat-divider></mat-divider>

<br />

<div class="dash-content">

  <div class="dash-table">

    <h2>Recent Complaints</h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Complaint Time Column -->
      <ng-container matColumnDef="complaintTime">
        <th mat-header-cell *matHeaderCellDef> Complaint Time </th>
        <td mat-cell *matCellDef="let element"> {{element.complaintTime}} </td>
      </ng-container>

      <!-- Complaint Date Column -->
      <ng-container matColumnDef="complaintDate">
        <th mat-header-cell *matHeaderCellDef> Complaint Date </th>
        <td mat-cell *matCellDef="let element"> {{element.complaintDate}} </td>
      </ng-container>

      <!-- Complaint Subject Column -->
      <ng-container matColumnDef="complaintSubject">
        <th mat-header-cell *matHeaderCellDef> Complaint Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.complaintSubject}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

<!--  <div class="dash-calender">-->
<!--    <h2>Upcoming Appointments</h2>-->
<!--    <full-calendar [options]="calendarOptions"></full-calendar>-->
<!--  </div>-->

</div>
