<h1>Complaint ID :{{ complain?.complain_id}}</h1>
<mat-divider></mat-divider>
<br>


    <div class="container">
      <div class="main-content">

        <div class="row1">

          <div class="col1">

            <mat-list>
              <mat-list-item>
                <span matListItemTitle> {{ complain?.district}}</span>
                <span matListItemLine>District</span>

              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle> {{ complain?.police_station}}</span>
                <span matListItemLine>Nearest Police Station</span>
              </mat-list-item>


              <mat-divider></mat-divider>

              <mat-list-item>
                <span matListItemTitle> {{ complain?.type}}</span>
                <span matListItemLine>Complaint Type</span>
              </mat-list-item>

              <mat-divider></mat-divider>


              <mat-list-item>
                <span matListItemTitle> {{ complain?.subject}}</span>
                <span matListItemLine>Subject of Complaint</span>
              </mat-list-item>

              <mat-divider></mat-divider>

              <mat-list-item>
                <span matListItemTitle>{{ complain?.send_time}}</span>
                <span matListItemLine>Date & Time</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

          </div>
          <div class="col2">

            <mat-list>

              <mat-list-item>
                <span matListItemTitle>{{ complain?.name}}</span>
                <span matListItemLine>Name</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ complain?.nic}}</span>
                <span matListItemLine>NIC</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ complain?.address}}</span>
                <span matListItemLine>Address</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ complain?.email}}</span>
                <span matListItemLine>Email</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ complain?.contact}}</span>
                <span matListItemLine>Phone Number</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

          </div>

        </div>








        <section>

          <div class="button-row">

            <button class="remove-btn" mat-stroked-button> Cancel</button>

          </div>
        </section>



      </div>
      <div class="container-side">
        <div class="col1">

          <mat-list>
            <mat-list-item>
              <span matListItemTitle> {{ complain?.complain}}</span>
              <span matListItemLine>Complaint</span>

            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span matListItemTitle> {{ complain?.proof}}</span>
              <span matListItemLine>Proof Submitted</span>
            </mat-list-item>


            <mat-divider></mat-divider>


          </mat-list>

        </div>
      </div>



    </div>


    <div class="container">




    </div>





