<h1>Your Notifications</h1>
<mat-divider></mat-divider>

<br /><br />


<mat-card appearance="outlined" style="margin-bottom: 20px">
  <mat-card-header>
    <mat-card-title> System Maintenance on July 7th</mat-card-title>
    <mat-card-subtitle>Dear Valued Customer , Our System will undergo a mandatory maintenance on July 3rd, 2024 from 8 pm to 6 pm.
      Please plan you schedule for the day ahead.
      We apologize for the inconvenience caused.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="primary">Mark as Seen</button>
    <button mat-button color="warn">Delete</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> System Maintenance on July 28th</mat-card-title>
    <mat-card-subtitle>Dear Valued Customer , Our System will undergo a mandatory maintenance on July 28th, 2024 from 8 pm to 6 pm.
      Please plan you schedule for the day ahead.
      We apologize for the inconvenience caused.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="primary">Mark as Seen</button>
    <button mat-button color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
<br>

