<!-- Page title for My Vehicles -->
<h1>My Vehicles</h1>

<!-- Divider for visual separation -->
<mat-divider></mat-divider>

<!-- Button to add a new vehicle -->
<button class="add-vehicle-btn" mat-button (click)="addVehicle()">Add Vehicle</button>

<!-- Container for the vehicle cards -->
<div class="card-container">

  <!-- Sample card for a specific vehicle -->


  <!-- Dynamic cards for each vehicle -->
  <div class="card" *ngFor="let vehicle of vehicles">
    <div class="card-title">
      <!-- Display Vehicle Number, Brand, and Model with transformations -->
      <h2>{{ vehicle.vehicle_number | uppercase }} | {{ vehicle.brand | titlecase }} {{ vehicle.model | titlecase }}</h2>
      <!-- Display verification status -->
      <div class="notverified">Not Verified</div>
    </div>
    <!-- Button to link a device to the vehicle -->
    <button mat-button (click)="linkDevice()">Link Device</button>
    <br>
    <!-- Button to view more details for this specific vehicle -->
    <button mat-button class="viewmore" routerLink="/vehicles/details" [queryParams]="{id: vehicle.vehicle_id}">
      <mat-icon>arrow_drop_down</mat-icon>
      View More
    </button>
  </div>

</div>
