<h1>All Subscriptions</h1>
<mat-divider></mat-divider>

<br /><br />

<a class="add-vehicle-btn" routerLink="/complaints/new"  (click)="addPlan()" mat-button><mat-icon>add_circle_outline</mat-icon>Add New Plan</a>


<div class="pricing">
  <div class="plan popular">
    <h2>Free</h2>
    <div class="price">FREE</div>
    <ul class="features">
      <li> First Three Month Only</li>
      <li>20 Tokens</li>
      <li>20 Searches</li>
      <li> Duration 1 month </li>
      <li>No priority support</li>
    </ul>
    <button>Update</button>
  </div>
  <div class="plan popular">

    <h2>Gold</h2>
    <div class="price">$10/month</div>
    <ul class="features">
      <li> Upto 100 Searches</li>
      <li>100 Tokens</li>
      <li>100 Searches</li>
      <li> Duration 3 month </li>
      <li>Email support</li>
    </ul>
    <button>Update</button>
  </div>
  <div class="plan popular">
    <h2>Platinum</h2>
    <div class="price">$50/month</div>
    <ul class="features">
      <li>Buy Unlimited Searches</li>
      <li>Unlimited Tokens</li>
      <li>Unlimited Searches</li>
      <li> Duration 5 month </li>
      <li>24/7 support</li>
    </ul>
    <button>Update</button>
  </div>
</div>











