<h1>Your Posts</h1>
<mat-divider></mat-divider>
<br>

<!-- Button for navigating to the "Add New Post" page -->
<a class="add-vehicle-btn" routerLink="/posts/new" mat-button>
  <mat-icon>add_circle_outline</mat-icon>
  Add New Post
</a>

<ng-container>
  <div class="card-container">
    <!-- Loop through posts dynamically fetched from the backend -->
    <mat-card class="example-card" appearance="outlined" *ngFor="let item of post">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </mat-card-header>

      <!-- Post image -->
      <video mat-card-image controls [src]="'https://storage.cloud.google.com/road-eye/video-uploads/' + item.video_link+ '.mp4'" alt="Sample Video Capture"></video>

      <mat-card-actions>
        <button mat-button (click)="sharePost(item)">Share</button>
        <button mat-button (click)="toggleDetails(item.id)">
          {{ item.showDetails ? 'Hide Details' : 'View More Details' }}
        </button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>

      <!-- Additional Post Details, shown/hidden based on the toggle flag -->
      <div *ngIf="item.showDetails">
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Likes:</strong> {{ item.likes }}</p>
        <p><strong>Views:</strong> {{ item.views }}</p>
        <p><strong>Comments:</strong> {{ item.comments }}</p>
      </div>
    </mat-card>
  </div>
</ng-container>
