<!-- Title of the Dialog -->
<h2 mat-dialog-title>Register Police Station</h2>
<mat-divider></mat-divider>

<!-- Content Section of the Dialog -->
<mat-dialog-content>
  <br />
  <!-- Form Section -->
  <form [formGroup]="form">
    <!-- Form Field for Station Name -->
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Station Name</mat-label>
      <input matInput formControlName="stationName" required />
    </mat-form-field>

    <!-- Row for District and Address Fields -->
    <div class="row">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>District</mat-label>
        <input matInput formControlName="district" required />
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" required />
      </mat-form-field>
    </div>

    <!-- Row for Phone Number and Email Fields -->
    <div class="row">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-divider></mat-divider>

<!-- Action Buttons -->
<mat-dialog-actions class="flex-right">
  <button mat-button class="action-btn">Add Station</button>
  <button mat-button class="cancel-btn" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
