<h1>Your Products</h1>
<mat-divider></mat-divider>

<br />

<a class="add-vehicle-btn" routerLink="/products/add" mat-button><mat-icon>add_circle_outline</mat-icon>Add new product</a>
<br /><br />
<div class="row">

  <div class="col">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Engine Oil Filter</mat-card-title>
        <mat-card-subtitle>Bosch</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://t3.ftcdn.net/jpg/01/76/82/78/240_F_176827898_YU7qkekSkUF6ayDhIaUw01y2Qdx5ALfY.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        Quantity: 15 <br>
          Price: $10
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/products/update" mat-button color="primary">Update</button>
        <button mat-button color="warn">Remove</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Spark Plugs</mat-card-title>
        <mat-card-subtitle> NGK</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://m.media-amazon.com/images/I/61qK29HFNhL._AC_UF894,1000_QL80_.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Quantity: 15 <br>
          Price: $10
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/products/update" mat-button color="primary">Update</a>
        <button mat-button color="warn">Remove</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Engine Oil Filter</mat-card-title>
        <mat-card-subtitle>Bosch</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://t3.ftcdn.net/jpg/01/76/82/78/240_F_176827898_YU7qkekSkUF6ayDhIaUw01y2Qdx5ALfY.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Quantity: 15 <br>
          Price: $10
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Update</button>
        <button mat-button color="warn">Remove</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Engine Oil Filter</mat-card-title>
        <mat-card-subtitle>Bosch</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://m.media-amazon.com/images/I/61qK29HFNhL._AC_UF894,1000_QL80_.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Quantity: 15 <br>
          Price: $10
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Update</button>
        <button mat-button color="warn">Remove</button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
