<h1>Search Your Vehicle</h1>
<mat-divider></mat-divider>

<br /><br />

<h2>Remaining Tokens: 12</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Select Vehicle Number</mat-label>
      <mat-select formControlName="number">
        <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicle_number">
          {{ vehicle.vehicle_number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <button mat-stroked-button type="submit" class="add-vehicle-btn">Search</button>
</form>
