<h1>Vehicle: {{ vehicle?.vehicle_number }}</h1>
<mat-divider></mat-divider>
<br>
<mat-tab-group dynamicHeight>
  <mat-tab label="General Details">
    <div class="container">
      <div class="main-content">

        <div class="row1">

          <div class="col1">

            <mat-list>
              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.vehicle_number }}</span>
                <span matListItemLine>Vehicle Number</span>

              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.type }}</span>
                <span matListItemLine>Vehicle Type</span>
              </mat-list-item>


              <mat-divider></mat-divider>

              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.brand }}</span>
                <span matListItemLine>Brand</span>
              </mat-list-item>

              <mat-divider></mat-divider>


              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.yom }}</span>
                <span matListItemLine>Year of Manufacture</span>
              </mat-list-item>

              <mat-divider></mat-divider>

              <mat-list-item>
                <span matListItemTitle>Not Verified</span>
                <span matListItemLine>Ownership Verification</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

          </div>
          <div class="col2">

            <mat-list>

              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.model }}</span>
                <span matListItemLine>Model</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.millage }}</span>
                <span matListItemLine>Millage (km)</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.color }}</span>
                <span matListItemLine>Color</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.owner | titlecase }}</span>
                <span matListItemLine>Owner</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <span matListItemTitle>{{ vehicle?.absolute_owner || '-' | titlecase }}</span>
                <span matListItemLine>Leased By / Absolute Owner</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>

          </div>

        </div>


        <section>

          <div class="button-row">
            <button class="add-vehicle-btn" mat-stroked-button>Update</button>
            <button class="add-vehicle-btn" mat-stroked-button (click)="fileUploadInput.click()">Upload Ownership Document</button>
            <button class="remove-btn" mat-stroked-button (click)="remove()">Remove</button>
            <input type="file" #fileUploadInput (change)="uploadFiles($event)" hidden>

          </div>
        </section>


      </div>
      <div class="container-side">

      </div>

    </div>
  </mat-tab>
  <mat-tab label="searchHistory History">
    <div class="container">


      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td mat-cell *matCellDef="let element"> {{ element.date }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time</th>
          <td mat-cell *matCellDef="let element"> {{ element.time }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> searchHistory</th>
          <td mat-cell *matCellDef="let element"> {{ element.location }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="cordinates">
          <th mat-header-cell *matHeaderCellDef> Cordinates</th>
          <td mat-cell *matCellDef="let element"> {{ element.cordinates }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>

</mat-tab-group>

