// Styles for the horizontal stepper
.mat-stepper-horizontal
  margin-top: 8px

// Adds spacing between form fields for better readability
.mat-mdc-form-field
  margin-top: 16px

// Style for the profile image
img
  width: 200px
  height: 200px

// Container for profile section
.container
  display: flex
  flex-direction: row

  // Styling for the profile picture section
  .profile-pic
    flex: 1

  // Styling for the profile content section
  .profile-content
    flex: 3

  // Row styling for layout consistency
  .row1
    display: flex
    flex-direction: row

    // Equal column sizes within rows
    .col1, .col2
      flex: 1

// Button styles for adding a vehicle
.add-vehicle-btn
  margin-bottom: 20px
  background-color: #006dab
  color: #FFFFFF !important
