
<h1>New Posts</h1>

<mat-divider></mat-divider>
<br><br>

<form [formGroup]="form" id="addPost" (ngSubmit)="submit()" class="complain-form">

  <p class="error">{{ error }}</p>
  <!--<p class="error">{{ error }}</p>-->
  <!--<form [formGroup]="form">-->
  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Select Evidence Video</mat-label>
        <mat-select [(ngModel)]="selectedVideo" formControlName="video_link">
          <mat-option *ngFor="let video of videos" [value]="video.video">
            {{ video.vehicle_number }} - {{ video.video }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>



  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Post Name</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>
    </p>

  </div>

  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Post Description</mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>
    </p>

  </div>



  <button mat-raised-button class="btn-submit">Post</button>
  </form>




