<div class="full-page">
  <header>
    <img routerLink="/dashboard" src="assets/images/logo.svg" alt="logo" class="logo">
    <div class="nav">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/map">Live Map</a>
      <a routerLink="/media-wall">Media Wall</a>
      <button mat-icon-button>
        <mat-icon matBadge="9+">notifications</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </header>
  <div class="main-container">
    <div class="sidenav">
      <div class="profile">
        <img class="avatar" src="assets/images/avatar.svg" alt="">
        <p>
<!--          {{ auth.user?.first_name | titlecase }} {{ auth.user?.last_name | titlecase }}-->
          <br>
<!--          {{ auth.user?.email | lowercase }}-->
        </p>
      </div>
      <a routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard</a>

<!--Switching main role as the role number-->
      <!--Driver/Vehicle Owner-->
      <ng-container [ngSwitch]="role">
        <ng-container *ngSwitchCase="0">
          <a routerLink="/map">
            <mat-icon>commute</mat-icon>
            Live Map</a>
          <a routerLink="/vehicles">
            <mat-icon>commute</mat-icon>
            My vehicles</a>
          <a routerLink="/complaints">
            <mat-icon>car_crash</mat-icon>
            Complaints</a>
          <a routerLink="video-captures">
            <mat-icon>videocam</mat-icon>
            Video Captures</a>
          <a routerLink="/posts">
            <mat-icon>post_add</mat-icon>
            My Posts</a>
<!--          <a routerLink="/emergency">-->
<!--            <mat-icon>people_alt</mat-icon>-->
<!--            Emergency Contacts</a>-->
<!--          <a routerLink="/appointments">-->
<!--            <mat-icon>calendar_month</mat-icon>-->
<!--            Appointments</a>-->
<!--          <a routerLink="/orders">-->
<!--            <mat-icon>shopping_cart</mat-icon>-->
<!--            My Orders</a>-->
        </ng-container>

        <!--Corporate Company-->
        <ng-container *ngSwitchCase="1">
          <a routerLink="/locationrequests">
            <mat-icon>not_listed_location</mat-icon>
            Location Requests</a>
          <a routerLink="/company-subscription">
            <mat-icon>currency_exchange</mat-icon>
            Your Subscription</a>
          <a routerLink="/payments">
            <mat-icon>attach_money</mat-icon>
            Your Payments</a>
        </ng-container>

        <!--Spare Parts suppliers-->
        <ng-container *ngSwitchCase="2">
          <a routerLink="/products">
            <mat-icon>category</mat-icon>
            Products</a>
        </ng-container>

        <ng-container *ngSwitchCase="5">
          <!--Maintenance-->
          <a routerLink="/set-opening-hours">
            <mat-icon>work_history</mat-icon>
            Opening Hours</a>
          <a routerLink="/portfolio">
            <mat-icon>store</mat-icon>
            Portfolio</a>
        </ng-container>




        <ng-container *ngSwitchCase="4">


          <!--Police-->
          <a routerLink="/police-stations">
            <mat-icon>other_houses</mat-icon>
            Police Stations</a>
        </ng-container>
        <ng-container *ngSwitchCase="3">



          <!--Admin-->
          <a routerLink="/verification-center">
            <mat-icon>domain_verification</mat-icon>
            Verification Center
          </a>
          <a routerLink="/analytics">
            <mat-icon>analytics</mat-icon>
            Analytics</a>
          <a routerLink="/users">
            <mat-icon>people</mat-icon>
            Users</a>
          <a routerLink="/all-subscriptions">
            <mat-icon>currency_exchange</mat-icon>
            All Subscriptions</a>
        </ng-container>
        <!--Common -->
        <a routerLink="/inquiries">
          <mat-icon>info</mat-icon>
          Inquiries</a>
        <a routerLink="/notifications">
          <mat-icon>notifications</mat-icon>
          Notifications</a>
      </ng-container>
    </div>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
