<h1>New Police Request</h1>
<mat-divider></mat-divider>
<br />

<div class="complain-form">
  <!-- Date and Time -->
  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Incident Date</mat-label>
        <input matInput type="date" [(ngModel)]="requestData.incident_date" required />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Incident Time</mat-label>
        <input matInput type="time" [(ngModel)]="requestData.incident_time" required />
      </mat-form-field>
    </p>
  </div>

  <!-- District and Location -->
  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>District</mat-label>
        <mat-select [(ngModel)]="requestData.district" required>
          <mat-option *ngFor="let district of districts" [value]="district">{{ district }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="requestData.location" />
      </mat-form-field>
    </p>
  </div>

  <!-- Vehicle Information -->
  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Vehicle Number Plate</mat-label>
        <input matInput [(ngModel)]="requestData.vehicle_id" required />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Vehicle Type</mat-label>
        <mat-select [(ngModel)]="requestData.type" required>
          <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>

  <!-- Color and Reason -->
  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Vehicle Color</mat-label>
        <mat-select [(ngModel)]="requestData.color">
          <mat-option *ngFor="let color of colors" [value]="color">{{ color }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput [(ngModel)]="requestData.reason" required></textarea>
      </mat-form-field>
    </p>
  </div>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" class="btn-submit" (click)="submitRequest()">Submit</button>
</div>
