<h1>New Request</h1>

<mat-divider></mat-divider>
<br /><br />

<div class="complain-form">
  <!--<p class="error">{{ error }}</p>-->
  <!--<form [formGroup]="form">-->

  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <mat-select>
          <mat-option *ngFor="let color of colors" [value]="color">{{
            color
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>

  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Vehicle Number Plate</mat-label>
        <input matInput required />
      </mat-form-field>
    </p>
  </div>

  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>District</mat-label>
        <mat-select>
          <mat-option *ngFor="let district of districts" [value]="district">{{
            district
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput required />
      </mat-form-field>
    </p>
  </div>

  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Subject</mat-label>
        <input matInput required />
      </mat-form-field>
    </p>
  </div>

  <div class="row">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  </div>

  <div class="row">
    <p>Add vehicle footages if you already have</p>
    <button mat-button class="add-vehicle-btn">Add</button>
  </div>
  <p>
    <mat-checkbox class="example-margin" color="primary">
      I need notification about status of the Request</mat-checkbox
    >
  </p>

  <button mat-raised-button class="btn-submit">Submit</button>
  <!--</form>-->
</div>
