<h1>Your Appointments</h1>
<mat-divider></mat-divider>

<br /><br />

<a class="add-vehicle-btn" routerLink="/appointments/new" mat-button><mat-icon>add_circle_outline</mat-icon>Add Appointment</a>
<div class="container"><a class="add-vehicle-btn" routerLink="/appointments/calendar" mat-button><mat-icon>calendar_month</mat-icon> Calendar View</a></div>


<!--Tables with all appointments-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Complaint Time Column -->
  <ng-container matColumnDef="appointmentTime">
    <th mat-header-cell *matHeaderCellDef> Appointment Time </th>
    <td mat-cell *matCellDef="let element"> {{element.appointmentTime}} </td>
  </ng-container>

  <!-- Complaint Date Column -->
  <ng-container matColumnDef="appointmentDate">
    <th mat-header-cell *matHeaderCellDef> Appointment Date </th>
    <td mat-cell *matCellDef="let element"> {{element.appointmentDate}} </td>
  </ng-container>

  <!-- Complaint Subject Column -->
  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef> Vendor </th>
    <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/complaints/view" mat-button ><mat-icon color="primary">edit</mat-icon></a>
      <button mat-button color="warn" ><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<br>



