<h2 mat-dialog-title>Add Your Comment</h2>
<mat-divider></mat-divider>
<mat-dialog-content><br>
  <form  id="addVehicle" >

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Your Comment</mat-label>
        <input matInput required>
      </mat-form-field>
    </p>



  </form>

</mat-dialog-content>
<mat-dialog-actions class="flex-right">
  <button mat-button type="submit" form="addVehicle">Send</button>
  <button mat-button cdkFocusInitial matDialogClose>Cancel</button>
</mat-dialog-actions>



