<h2 mat-dialog-title>User Verification Details</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div class="user-info">
    <div>
      <span>First Name : </span>
      <span>Saman</span>
    </div>
    <div>
      <span>Last Name : </span>
      <span>Kumara</span>
    </div>
    <div>
      <span>NIC : </span>
      <span>197534567255</span>
    </div>
    <div>
      <span>Vehicle Number : </span>
      <span>KU-6432</span>
    </div>
  </div>
  <div class="nic-images">
    <img src="assets/images/id-template.svg" alt="NIC Front" class="nic-image" style="width: 300px">
  </div>
  <button mat-raised-button><a href="https://eservices.motortraffic.gov.lk/VehicleInfo/indexOauth.action">Check Details with DMT Portal</a></button>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions class="flex-right">
  <button mat-button type="submit" form="addVehicle">Verify User</button>
  <button mat-button cdkFocusInitial matDialogClose>Decline</button>
</mat-dialog-actions>



